<h1>Details for {{robot.name }}</h1>
<ul>

    <li>Name: {{ robot.name }}</li>
    <li>Speed: {{ robot.speed }}</li>
    <li>Battery Life: {{ robot.battery_life }} </li>
    <li>Strength: {{ robot.strength }} </li>
    </ul>

<!--need a form for adding a new robot-->


<!--need a form for updating existing bot, can existing values populate the form when it's rendered?-->


<!--need a button that deletes a robot. redirect to index page on submit? maybe have a p or h tag saying the name of the bot successfully deleted or showing error msg-->


