
<title>Robot Details</title>
<h1>Details for {{robot.name }}</h1>
<ul>

    <li>Name: {{ robot.name }}</li>
    <li>Speed: {{ robot.speed }}</li>
    <li>Battery Life: {{ robot.battery_life }} </li>
    <li>Strength: {{ robot.strength }} </li>
    </ul>

<button><a href="{% url 'bots:index' %}">Return to List of All Robots</a></button>
<button><a href="{% url 'bots:create' %}">create a new Robot</a></button>
<button><a href="{% url 'bots:update' robot.id%}">Edit {{ robot.name }}</a></button>
<button><a href="{% url 'bots:delete' robot.id%}">Delete {{ robot.name }}</a></button>




